<div
    class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div
            style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                <div class="text-center mb-8">
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Créer un compte</div>
                    <span class="text-muted-color font-medium">Inscrivez-vous pour commencer</span>
                </div>

                <form #registrationForm="ngForm" (ngSubmit)="onSubmitForm(registrationForm)">
                    <div>
                        <label for="name" class="block text-xl font-medium mb-2">Nom</label>
                        <input pInputText id="name" name="name" class="w-full md:w-[30rem] mb-4" ngModel required>

                        <label for="firstName" class="block text-xl font-medium mb-2">Prénom</label>
                        <input pInputText id="firstName" name="firstName" class="w-full md:w-[30rem] mb-4" ngModel
                            required>

                        <label for="email" class="block text-xl font-medium mb-2">Adresse e-mail</label>
                        <input pInputText id="email" name="email" type="email" class="w-full md:w-[30rem] mb-4" ngModel
                            required>

                        <label for="phone" class="block text-xl font-medium mb-2">Numéro de téléphone</label>
                        <input pInputText id="phone" name="phone" class="w-full md:w-[30rem] mb-4" ngModel required>

                        <label for="address" class="block text-xl font-medium mb-2">Adresse</label>
                        <input pInputText id="address" name="address" class="w-full md:w-[30rem] mb-4" ngModel>

                        <label for="password"
                            class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Mot de
                            passe</label>
                        <p-password id="password" name="password" required styleClass="mb-4" [fluid]="true"
                            [toggleMask]="true" ngModel></p-password>
                    </div>


                    <div class="flex justify-between mt-6">
                        <p-button label="S'inscrire" type="submit" [disabled]="!registrationForm.valid"></p-button>
                    </div>
                </form>

                <div class="flex items-center my-4">
                    <hr class="flex-grow border-t border-gray-300 dark:border-gray-600" />
                    <span class="mx-4 text-gray-500 dark:text-gray-400 font-medium">ou</span>
                    <hr class="flex-grow border-t border-gray-300 dark:border-gray-600" />
                </div>

                <div class="text-center">
                    <p-button label="Se connecter" styleClass="p-button-link text-primary"
                        (onClick)="navigateToLogin()"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>